
.accordion-menu {
    margin: 50px 10px;
    box-shadow: 0px 3px 7px #c4c4c4, 0px -3px 7px #c4c4c4;
    border-radius: 15px;
}

.card {
    border-bottom: solid 1px #c4c4c4;
    display: flex;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 15px 0px;
}

.veg-or-non-veg {
    height: 20px;
    width: 20px;
}

.food-item-name {
    font-size: larger;
    font-weight: bold;
}

.food-item-description {
    font-style: italic;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.food-item-image {
    height: 70px;
    width: 100%;
    margin-bottom: 5px;
}